.App {
  text-align: center;
}

.centeredList {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.navHeader {
  background-color: red;
  margin-bottom: 2% !important;
}

.subHeading {
  font-size: 200% !important;
}

.highlightedItem {
  background-color: lightyellow !important;
}