.App {
  text-align: center;
}

.centeredList {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.navHeader {
  background-color: red;
}

.highlightedItem {
  background-color: lightyellow !important; 
  /* Utility class */
}